// internal css variable

$large = 1200px

$medium = 992px

$small = 768px

$lineNumbersWrapperWidth = 3.5rem

$codeBGColor = #282c34

$borderColor = #eaecef

$hlLinesColor = #353b45 // rgba(0,0,0,0.66)

$codeLang = js ts html md css sass scss less stylus go java c sh yaml py