@import './var.css'
@import './global.css'

$codeBGColor = #282c34
$borderColor = #eaecef

code, kbd
	font-family source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;

.post-content :not(pre)>code
	background-color rgba(255,229,100,.2)
	color #476582
	padding .25rem .5rem
	margin 0
	border-radius 3px

.container-block
	padding .1rem 1.5rem
	border-left-width .5rem
	border-left-style solid
	margin 1rem 0

.container-block-title
	font-weight 600
	margin-bottom -.4rem

.warning
	background-color rgba(255,229,100,.3)
	border-color #e7c000
	color #6b5900

.tip
	background-color #f3f5f7
	border-color #42b983

.danger
	background-color #ffe6e6
	border-color #c00
	color #4d0000

a.header-anchor
	&:hover
		text-decoration underline
	font-size .85em
	color var(--link-color)
	float left
	margin-left -.87em
	padding-right .23em
	margin-top .125em
	opacity 0

h1, h2, h3, h4, h5, h6
	&:hover .header-anchor
		opacity: 1

h2 {
	border-bottom 1px solid $borderColor
}

div[class*="language-"]
	position relative
	background-color $codeBGColor
	.highlight-lines
		user-select none
		padding-top 1.3rem
		position absolute
		top 0
		left 0
		width 100%
		line-height 1.4
		.highlighted
			background-color rgba(0,0,0,.66)
	pre, pre[class*="language-"]
		background transparent
		position relative
		z-index 1
		line-height 1.4
		padding 1.25rem 1.5rem
		margin .85rem 0
		white-space pre-wrap
		word-break break-word
		// background-color $codeBGColor
		overflow auto
		code
			color #fff
			line-height 1.6