#back-to-top
	background var(--theme-color, #000)
	border-radius 50%
	bottom 20px
	box-shadow 0 2px 5px 0 rgba(0,0,0,.26)
	color #fff
	cursor pointer
	display block
	height 56px
	opacity 1
	outline 0
	position fixed
	right 20px
	-webkit-tap-highlight-color transparent
	-webkit-touch-callout none
	transition bottom .2s,opacity .2s
	user-select none
	width 56px
	z-index 100

#back-to-top svg
	display block
	fill currentColor
	height 24px
	margin 16px auto 0
	width 24px