:global(.post)
	h1
		margin-top 0

.postHeaders
	position sticky
	top 20px
	height calc(100vh - 20px)
	flex 0 0 175px

.desc
	&:focus
		outline 0
	font-size 0.75rem
	font-weight 600
	padding-left 10px
	margin-top 0
	text-transform uppercase

:global(.nav-affix)
	position fixed
	top 25px

.nav>ul
	list-style none
	padding 0
	font-size 12px
	li
		display block
		position relative
	a
		display block
		position relative
		padding 5px 10px
		color #707070
		&:hover
			color var(--text-color)
			&:before
				display block
				font-weight bold
		&:before
			content '{'
			color #bbb
			position absolute
			font-size 16px
			top 1px
			left 0
			display none

.nav>ul>.active
	a
		font-weight bold
		color #0072be
		&:before
			color #0072be
			display block