.footer
	background #20232a
	border none
	color hsla(0,0%,100%,.6)
	font-size 15px
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-weight 400
	line-height 24px
	padding-bottom 2em
	padding-top 2em
	position relative

.copyright
	text-align center