#not-found
	height 360px
	width 300px
	max-width 300px
	margin-right 90px
	background-image url('../assets/404.svg')
	background-repeat no-repeat
	background-position 50% 50%
	background-size contain

.not-found-container
	width 900px
	margin 0 auto
	display flex
	flex-direction row
	justify-content center

.not-found-action
	margin-top 100px

.not-found-action>h1
	font-weight 600

.not-found-action>blockquote
	font-size 1rem
	color #999
	border-left .25rem solid #dfe2e5
	margin-left 0
	padding-left 1rem