.sidebar
	position sticky
	overflow scroll
	flex 0 0 180px
	padding 0 15px
	top 20px
	height calc(100vh - 20px)

.desc
	&:focus
		outline 0
	font-size 0.75rem
	font-weight 600
	padding-left 10px
	margin-top 0
	text-transform uppercase

:global(.navbar)
	max-height calc(100vh - 40px)

:global(#navbar>ul)
	list-style none
	padding 0

:global(#navbar li>a)
	color #707070
	padding 8px 15px
	font-size 14px
	border-left 1px solid #ccc
	display block
	&:hover
		border-color var(--theme-color)

:global(#navbar .active)
	a
		border-color var(--theme-color)
		font-weight bold
		color var(--theme-color)!important

:global(#sidebar::-webkit-scrollbar)
	width 0 !important

.nav
	display block
	position relative