@import '../style/config.styl';

.layout
	display flex
	flex-flow row nowrap
	padding-right 15px
	padding-left 15px
	padding-top 25px
	padding-bottom 40px
	margin 0 auto

@media (min-width: $medium)
	.layout
		width 970px

@media (min-width: $large)
	.layout
		width 1170px