@import '../style/config.styl';

.page-layout
	display flex
	flex-flow row nowrap
	padding-top 25px
	padding-bottom 40px
	margin 0 auto

.layout
	display flex
	flex-flow row nowrap
	padding-right var(--layout-padding-horizontal, 15px);
	padding-left var(--layout-padding-horizontal, 15px);
	padding-top 25px
	padding-bottom 40px
	margin 0 auto

@media (min-width: $medium)
	.layout
		width var(--layout-width-medium, 970px)

@media (min-width: $large)
	.layout
		width var(--layout-width-large, 1170px)