.layout
	display flex
	flex-direction row
	padding-right 15px
	padding-left 15px
	padding-top 25px
	padding-bottom 40px
	margin-right auto
	margin-left auto

@media (min-width: 992px)
	.layout
		width 970px

@media (min-width: 1200px)
	.layout
		width 1170px