@import '../style/config.styl'

$navbarHeight = 60px

.navbar
	height $navbarHeight
	width 100%
	z-index 1
	background-color var(--theme-color)

.nav
	width 100%
	ul
		padding 0
		margin 0
		margin-left 65px
		line-height $navbarHeight
		height $navbarHeight
		list-style none
	li
		display inline-block
	li>a
		display block
		padding 0 12px
		color #fff
		opacity .6
		transition opacity 0.08s ease-in
		&:hover
			opacity 1
	li.active>a
		opacity 1

.container
	margin-right auto
	margin-left auto
	display flex
	flex-direction row
	align-items center

@media (min-width $medium)
	.container
		width 970px

@media (min-width $large)
	.container
		width 1170px

.navbar-header
	a
		color #fff
		display block
	color #fff
	font-weight 600
	padding 0 25px
	display inline
	line-height $navbarHeight
	height $navbarHeight

.navLinkItem
	display inline-block